body {
}

.singleCriteria {
    margin-left:0px;
}

.cricTitleField {
    display:inline-table;
    font-family: 'Open Sans', sans-serif;
}

.singleCricInline {
    display:inline-table;
}

.previewInline {
    
   
}

.inputField {
    font-family: 'Open Sans', sans-serif;
}


.commentPreview {
    padding: 5px;
    width: 100px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.markPreview {
    padding:5px;
    font-family: 'Open Sans', sans-serif;
}

.dropdownField {
    
}

.inputField {
    height:70px;
    width: 230px;
    position:relative;
    right:100px;
}

.collapsedWindowDrop {
    font-family: 'Open Sans', sans-serif !important;
}

.popover_compare {
    width:300px;
    height:70px;
}

.criteria_name {
    
}

.collapsedWindowDrop {
    font-family: 'Open Sans', sans-serif !important;
    width: 230px;
}

.ratingDropDown {
    font-family: 'Open Sans', sans-serif !important;
}

select[multiple], select[size] {
    height: 120px !important;
    width: 230px !important;
}

.textComment{
    width: 215px !important;
}

#nameList {
    height:240px !important;
    font-size: 32px;
    height:200px;
    
}

#nameList option {
    padding:100px;
    height:auto;
}

.popover_content {
    visibility:hidden;
    width:10px;
    height:10px;
}

.comp_img {
    height:25px;
    width:25px;
}
 
table {
   
    border-spacing: 10px !important;
}

.col1 {
    padding-top:10px;
}
.col2 {
    position: relative;
    left: 500px;
     bottom: 347px;
    padding-top:10px;
}

#fillBody {
    
    
}

.employeeNames {
    border: 0.5px solid #E6E6E6;
    height: 30px;
    text-align: center;
    width: 200px;
    
}

#EmpList {
    list-style-type:none;
    background-color : #F5F9F8;
    width:212px;
    padding:5px;
    border:1px solid #cccccc;
}

    #EmpList li {
        padding : 5px;
    }

.empAncor {
    text-decoration:none;
    color:black;
}

.selected_emp {
    color: #211233;
    font: 21px bold;
    margin-left: 10px;
    padding-bottom: 10px;
}

.caption_criteria {
    color: #6f9abd;
    margin-top: -20px;
    margin-left: 5px;
    margin-right: -100px;
    font-size: 18px;
}



.success_fin{
border:1px solid #92c79a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: #080808;
background:#d6fddc;
 width:180px;
 text-align: center;
}

.success_fin:hover{
 border:1px solid #74b77d;
 background-color: #95c99d; background-image: -webkit-gradient(linear, left top, left bottom, from(#95c99d), to(#8bb41d));
 background-image: -webkit-linear-gradient(top, #95c99d, #8bb41d);
 background-image: -moz-linear-gradient(top, #95c99d, #8bb41d);
 background-image: -ms-linear-gradient(top, #95c99d, #8bb41d);
 background-image: -o-linear-gradient(top, #95c99d, #8bb41d);
 background-image: linear-gradient(to bottom, #95c99d, #8bb41d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#95c99d, endColorstr=#8bb41d);
 width:180px;
 text-align: center;
}


.newbie{
border:1px solid #ebb7b7; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px;
border-radius: 3px;
font-size:14px;
font-family:arial, helvetica, sans-serif; 
padding: 10px 10px 10px 10px; 
text-decoration:none; 
display:inline-block;
font-weight:normal; 
color: #080808;
background:#ffdbdb;
 width:180px;
 text-align: center;
}

.newbie:hover{
 border:1px solid #e09494;
 background-color: #ecbbbb; background-image: -webkit-gradient(linear, left top, left bottom, from(#ecbbbb), to(#ffa4a4));
 background-image: -webkit-linear-gradient(top, #ecbbbb, #ffa4a4);
 background-image: -moz-linear-gradient(top, #ecbbbb, #ffa4a4);
 background-image: -ms-linear-gradient(top, #ecbbbb, #ffa4a4);
 background-image: -o-linear-gradient(top, #ecbbbb, #ffa4a4);
 background-image: linear-gradient(to bottom, #ecbbbb, #ffa4a4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ecbbbb, endColorstr=#ffa4a4);
 width:180px;
 text-align: center;
}



.intermideate{
border:1px solid #f9f68a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: #080808;
background:#fffed0;
 width:180px;
 text-align: center;
}

.intermideate:hover{
 border:1px solid #f7f25f;
 background-color: #faf68f; background-image: -webkit-gradient(linear, left top, left bottom, from(#faf68f), to(#f3ed53));
 background-image: -webkit-linear-gradient(top, #faf68f, #f3ed53);
 background-image: -moz-linear-gradient(top, #faf68f, #f3ed53);
 background-image: -ms-linear-gradient(top, #faf68f, #f3ed53);
 background-image: -o-linear-gradient(top, #faf68f, #f3ed53);
 background-image: linear-gradient(to bottom, #faf68f, #f3ed53);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#faf68f, endColorstr=#f3ed53);
 width:180px;
 text-align: center;
}

.emp_fullName {
    white-space: initial;
}

.nameEmp h3{
    font-weight:normal;
    font-size: 30px;
    font-family: Calibri;
    margin-left:40px;
}
.nameEmp h4{
    font-weight:normal;
    font-size: 30px;
    font-family: Calibri;
}

.empName {
    color:#a7a29e;
}
.year {
    font-weight:normal !important;
    color:#729fd1 !important;
    margin-left:140px;
}

.mainContent {
    padding:30px 40px 0;
    overflow-x: hidden;
    width:auto !important;
    border-spacing:0 !important;
}

.submitForm input[type=button]{
    
    padding:5px 25px;
    margin-top:15px;
    margin-right:8px;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.yellow {
    
    background:#f3c546;
    border:1px solid #a0741e;
    color:#684E0B;
}
.gray {
    background:#dedede;
    border:1px solid #a4a4a4;
    color:#a4a4a4;
}