<!-- to authenticate to form -->

<form class="form-inline">
    
</form>
<div ng-controller="validateCtrl">
    
    <div class="outer">
        <div class="wraptocenter">

            <div>
                <h1>
                    Enter Validate key
                </h1><br />
                <form class="form-inline">
                    <div class='wrap1'>
                        <div class='element1'>
                            <input ng-model="validateKey" id="validateKey" type="password" />
                        </div>
                        <div class='element1'>
                            <input type="submit" id="validButton" value="Validate" ng-click="validateAppraisal()" />
                        </div>
                    </div>
                </form>
                <h3 class="lighterblack">
                    We have sent you a key to your email. Please enter that key here.
                </h3>
            </div>
        </div>
    </div>
</div>

